:root{
    --primary-color:#ffb012;
    --secondary-color: #d69513;
    --overaly-color: rgba(168, 140, 47, 0.6);
}

/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 1.6;
    color: #85570d;
    font-size: 1rem;
}

h1, h2, h3, h4{
    line-height: 1.5;
}

a{
    color: var( --secondary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}


.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Navbar */

.navbar{
    font-size: 1.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
}

.navbar .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo{
    font-size: 2rem;
}

.navbar .nav{
    /* move the nav link to the right */
    justify-self: flex-end;

    /* display the links side by side */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav a{
    padding: 0 1rem;
}

.navbar .nav a:hover{
    color: #87770f
}

/* Showcase */

.section-showcase .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-showcase h1{
    font-size: 2.7rem;
    color: var(--primary-color);
}

.section-showcase p{
    margin: 1rem 0;
}

/* Overlay */

.section-overlay{
    position: relative;
    background: url(../img/overlay.jpe) no-repeat bottom center/cover;
    height: 600px;
}

.section-overlay-inner{
    color: white;

    /* to take up the whole space within the background image */
    height: 100%;

    /* center the text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* center the text because of the max-width */
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.section-overlay-inner h2{
    font-size: 4rem;
    margin-top: 1rem;
}

.section-overlay-inner h3{
    font-size: 2rem;
}

.section-overlay-inner p{
    font-size: 1.4rem;
    margin-top: 1rem;
}

/* Gallery */

.section-gallery .gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-gallery .gallery a:first-child{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.section-gallery .gallery a:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 5;
}

.section-gallery .gallery img, .section-gallery .gallery a{
    width: 100%;
    height: 100%;
}

/* footer */

.section-footer{
    background: var(--primary-color);
    color: white;
    padding: 2.3rem 0;
}

.section-footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.section-footer h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.section-footer h3{
    margin-bottom: 0.7rem;
}

.section-footer a{
    line-height: 1.5;
    color: white;
}

/* Utilities */

.marginTB{
    margin: 2rem 0;
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}

.btn:hover{
    background-color: var(--secondary-color);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overaly-color);
}

.icon-size{
    width: 4rem;
}