:root{
    --primary-color:#ffb012;
    --secondary-color: #d69513;
    --overaly-color: rgba(0, 0, 0, 0.7);
}

/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 1.6;
    color: #85570d;
    font-size: 1rem;
}

h1, h2, h3, h4{
    line-height: 1.5;
}

a{
    color: var( --secondary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}


.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}